.titulo-principal {
    padding-left: 20px;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
    text-align: center;
}

#banner {
    width: 100%;
}

.titulo-centralizado {
    text-align: center;
    font-size: 30px;
}

#missao {
    font-size: 22px;
}

p em strong {
    color: #FF5500;
}

.beneficios {
    background: #FFFFFF;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    width: 20%;
    margin-right: 15%;
}

.img-beneficios {
    width: 50%;
}