header {
    background: #BBBBBB;
}

.cx-header {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 45%;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
    text-align: center;
}

#banner {
    width: 100%;
}

.titulo-centralizado {
    text-align: center;
    font-size: 30px;
}

#missao {
    font-size: 22px;
}

p em strong {
    color: #FF5500;
}

.beneficios {
    background: #FFFFFF;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    width: 20%;
    margin-right: 15%;
}

.img-beneficios {
    width: 50%;
}

.rodape {
    text-align: center;
    background: url("./img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}