.principal {
    background: #CCCCCC;
    padding: 20px;
}

#banner {
    width: 100%;
}

h1 {
    font-size: 40px;
}

h1, p {
    text-align: center;

}

#missao {
    font-size: 30px;
}

p em strong {
    color: #FF5500;
}

.beneficios {
    background: #FFFFFF;
}

.beneficios h2 {
    text-align: center;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    width: 20%;
    margin-right: 15%;
}

.img-beneficios {
    width: 50%;
}